# Data Learning
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
keras==2.8.0
scikit-learn
# Image Processing
opencv-python
Keras-Preprocessing==1.1.2
Pillow
# MISC
protobuf==3.20.*
tqdm
# Data Processing
pandas
# Data visualization
matplotlib
seaborn
pandas


